<style>
@font-face {
  font-family: 'Luculent';
  src: url('/_fonts/luculent/luculentb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Luculent';
  src: url('/_fonts/luculent/luculentbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Luculent';
  src: url('/_fonts/luculent/luculenti.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Luculent';
  src: url('/_fonts/luculent/luculent.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Luculent, monospace !important;
}
</style>
